# Django #
*.log
*.pot
*.pyc

# Environments 
.env
env
env/* 

# Backup files # 
*.bak 

# CORE #
core/__pycache__/*
#core/settings.py
core/*/__pycache__/*

# IMPACTFEE #
impactfee/__pycache__/*
impactfee/migrations/__pycache__/*
impactfee/*/__pycache__/*
impactfee/logs/*

# PYCHARM #
.idea/workspace.xml
.idea/tasks.xml