
{% extends "impactfee/base.html" %} 

{% block title %} About - Impact Fees {% endblock title %}

{% block content %} 


<div class="row">
    <div class="col-xl-5">
        <h3>About</h3>
        <br/>
        <p>
            Additional information about the City of Tucson’s Development Impact Fee Program can be found online with 
            <a href="https://www.tucsonaz.gov/pdsd/development-impact-fees">Planning and Development Services</a> (who 
            collects Impact Fees as part of the building permit process) and the 
            <a href="https://www.tucsonaz.gov/finance/budget/development-impact-fees">Budget Office</a> (who administers 
            the revenue and expenditures).
        </p>
    </div>

{% endblock content %}

