
{% extends "impactfee/base.html" %} 
{% block title %} Contact - Impact Fees {% endblock title %}
{% block content %}

<div class="row">
    <div class="col-xl-5">
        <h3>Contact</h3>
        <address>
            City of Tucson<br />
            Planning &amp; Development Services Department<br />
            201 N Stone Ave<br />
            Tucson, AZ 85701<br />
            <abbr title="Phone">P:</abbr>
            (520) 791-5550<br/>
            <a href="mailto:PDSDInquiries@tucsonaz.gov">PDSDInquiries@tucsonaz.gov</a>
        </address>
    </div>
    <div class="col-xl-7">
        <div>
            <iframe class="embed-responsive iframe pt-3 pb-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3375.2457227163723!2d-110.97188720000003!3d32.22454960000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86d6711fb3fac317%3A0x779b7a3e39c94b9b!2s201+N+Stone+Ave%2C+Tucson%2C+AZ+85701!5e0!3m2!1sen!2sus!4v1418152644770" style="height: 450px" frameborder="0" style="border:0"></iframe>
        </div>
    </div>

{% endblock content %}

