<footer class="footer bg-c-black text-c-white" id="footer">
    <div class="cot-container container pt-3 pb-3">
        <div class="footer-content row">
            <div class="footer-logo col">
                <a class="footer-logo-link" href="https://www.tucsonaz.gov/"><span class="visuallyhidden">City of Tucson</span></a>
            </div>
            <nav role="navigation" class="footer-menu col">        
                <ul class="menu nav flex-column text-right">
                    <li class="nav-item">    
                        <a class="nav-link text-c-white" href="{% url 'calc' %}">Service Area Calculator</a> 
                    </li>
                    <li>
                        <a class="nav-link text-c-white" href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a class="nav-link text-c-white" href="{% url 'contact' %}">Contact</a> 
                    </li>
                </ul>  
            </nav>
        </div>
        <div class="footer-content-bottom text-center">
            <nav role="navigation" class="footer-social-media">
                <ul class="menu nav justify-content-center"> 
                    <li class="nav-item">
                        <a href="https://public.govdelivery.com/accounts/AZTUCSON/subscriber/topics" class="nav-link social-media-icon icon-email text-c-white"><span class="email-link">Email</span></a>                
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/cityoftucson" class="nav-link social-media-icon icon-twitter text-c-white"><span class="twitter-link">Twitter</span></a>                
                    </li>
                    <li class="nav-item">
                        <a href="https://www.facebook.com/CityOfTucson" class="nav-link social-media-icon icon-facebook text-c-white"><span class="facebook-link">Facebook</span></a>                
                    </li>
                    <li class="nav-item">
                        <a href="https://www.youtube.com/user/CityofTucson" class="nav-link social-media-icon icon-youtube text-c-white"><span class="youtube-link">YouTube</span></a>                
                    </li>
                    <li class="nav-item">
                        <a href="https://www.instagram.com/cityoftucson/" class="nav-link social-media-icon icon-instagram text-c-white"><span class="instagram-link">Instagram</span></a>                
                    </li>
                    <li class="nav-item">
                        <a href="https://nextdoor.com/agency-detail/az/tucson/city-of-tuscon/" class="nav-link social-media-icon icon-nextdoor text-c-white"><span class="nextdoor-link">Nextdoor</span></a>                
                    </li>
                </ul>  
            </nav>
            <div class="footer-copyright">
                <p>
                    Copyright © 2019 City of Tucson<br>
                    <a class="text-c-white" href="https://www.tucsonaz.gov/web-policies">Privacy Policy</a>
                </p>
            </div>
        </div>
    </div>
</footer>